{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Ajout{% endblock %}

{% block body %}

    <div class="container">

        {{ form_start(formTricks) }}
        <div class="row">
            <div class="col-12">
                <div class="card mb-3 shadow">
                    <div class="featuredImage">
                        {% if (tricks.id == null) or (tricks.photos[0].namePhoto is not defined) %}
                            <img src="{{ asset('img/default_image.jpg') }}" alt="photo snowboard">
                        {% else %}
                            <img src="{{ asset('img_uploads/' ~ tricks.photos[0].namePhoto) }}" alt="photo snowboard">
                        {% endif %}
                        {{ form_row(formTricks.name, {'attr': {'class': 'input-tricksName', 'placeholder': 'Nom du tricks'}}) }}
                    </div>
                    <div class="card-body border-top">
                        <div class="row slider">
                            {% for photos in tricks.photos %}
                            <div class="col-xl-4">
                                <div><img src="{{ asset('img_uploads/' ~ photos.namePhoto) }}" alt="photos snowboard" class="shadow"></div>   
                            </div>
                            {% endfor %} 
                            {% for videos in tricks.videos %}
                            <div class="col-xl-4 videos-tricks">
                                {{ videos.link | raw }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-body border-top">
                        
                        <ul class="photos d-inline-flex list-unstyled flex-wrap" data-prototype="{{ form_widget(formTricks.photos.vars.prototype)|e('html_attr') }}">
                            {% for photo in formTricks.photos %}
                                {#<li>{{ form_row(formTricks.photos.vars.prototype.namePhoto)|e }}</li>#}
                            {% endfor %}
                        </ul>
                        <div><button type="button" class="btn btn-outline-primary btn-sm add-photos mb-4" data-collection-holder-class="photos">Ajouter une Photo</button></div>
                        
                        <ul class="videos d-inline-flex list-unstyled flex-wrap" data-prototype="{{ form_widget(formTricks.videos.vars.prototype)|e('html_attr') }}">
                            {% for video in formTricks.videos %}
                                {#<li>{{ form_row(formTricks.videos.vars.prototype.link)|e }}</li>#}
                            {% endfor %}
                        </ul>
                        <div><button type="button" class="btn btn-outline-primary btn-sm add-videos" data-collection-holder-class="videos">Ajouter une Vidéo</button></div>
                    </div>
                    
                    <div class="card-body">
                        <p class="card-text">{{ form_row(formTricks.description, {'label': 'Description du tricks :' }) }}</p>
                    </div>
                    <div class="card-body d-flex justify-content-between">
                        {{ form_row(formTricks.category, {'label': 'Category du tricks :'}) }}
                        
                        <div class="text-right"><button type="submit" class="btn btn-outline-primary mt-4">Créer le tricks</button></div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(formTricks, {'render_rest': false}) }}
        
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/slider.js')}}"></script>
    <script type="text/javascript" src="{{ asset('js/show.js')}}"></script>
    <script type="text/javascript" src="{{ asset('js/addTricksPhotos.js')}}"></script>
    <script type="text/javascript" src="{{ asset('js/addTricksVideos.js')}}"></script>
{% endblock %}