{% extends 'base.html.twig' %}

{% block body %}
<main id="header">
    <img src="../img/background_home.jpg" alt="Snowboard" id="homeImage">
    <h1 class="text-center">SNOWTRICKS</h1>
    <p class="text-center mb-5">catchphrase</p>
</main>
<h2 class="text-left m-5" id="tricks">Les derniers tricks ajoutés...</h2>
<hr class="ml-5 mr-5">
<div class="row" id="firstTricks">
{% for tricks in tricks %}
    <div class="col-xl-3">
        <div class="card m-5 shadow">
            <img style="height: 200px; width: 100%; display: block;" src="{{ tricks.photos[0].name }}" alt="Snowboard">
            <h4 class="card-header">{{ tricks.name | u.truncate(20)}}</h4>
            <div class="card-body">
                <a href="{{ path('show_tricks', {'id': tricks.id} ) }}" class="btn btn-outline-primary btn-sm">Voir le tricks</a>
            </div>
            <div class="card-footer text-muted">
                <p>Style : <span class="badge badge-primary">{{ tricks.category.name }}</span></p>
                <p>Crée le {{ tricks.dateAtCreated | date("m/d/Y") }}<br />
                   Ajouté par {{ tricks.user.fullname }}</p>
            </div>
          </div>
    </div>
{% endfor %}
</div>

<p class="text-center" id="moreTricksAction"><a href="#moreTricks" id="moreTricks" class="btn btn-outline-primary text-center">Voir plus de tricks</a></p>

<div class="arrow text-right" id="arrowDown">
    <a href="#tricks">
        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-down-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
        </svg>
    </a>
</div>
<div class="arrow text-right" id="arrowUp">
    <a href="#header">
        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-up-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
        </svg>
    </a>
</div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/home.js') }}"></script>
{% endblock %}