
{% for message in nextMessages %}
    <div class="row">
        <div class="col-lg-9 offset-lg-3">
        <span class="date-comment text-muted">Le {{ message.dateMessage | format_datetime('full', 'medium', locale='fr') }}</span>
        </div>
    </div>
    <div class="row mb-4 d-flex align-items-center p-3 shadow">
        <div class="col-lg-3 mb-2">
          <div>
            {% if message.user.profilPicture == null %}
              <img src="{{ asset('img/default_profil.png') }}" alt="photo de profil" class="profilPicture align-middle">
            {% else %}
              <img src="{{ asset('img_uploads/' ~ message.user.profilPicture) }}" alt="photo de profil" class="profilPicture align-middle">
            {% endif %}
            <span class="mt-2 d-inline">{{ message.user.username }}</span>
          </div>
        </div>
        <div class="col-lg-9 col-12 p-3 bg-light">
          <span class="">{{ message.content }}</span>
        </div>
    </div>
    <hr>
{% endfor %}