{% extends 'base.html.twig' %}

{% block title %}Snowtricks - {{ tricks.name }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3 shadow">
                <div class="featuredImage">
                    {% if tricks.photos[0].namePhoto is not defined %}
                      <img src="{{ asset('img/default_image.jpg') }}" alt="photo snowboard">
                    {% else %}
                      <img src="{{ asset('img_uploads/' ~ tricks.photos[0].namePhoto) }}" alt="photo snowboard">
                    {% endif %}
                    <h1 class="text-center">{{ tricks.name }}</h1>
                    {% if app.user and app.user.activationToken == '' %}
                    <div class="modify-delete ">
                      <!--Modify icon-->
                      <a href="/membre/edit/{{tricks.id}}">
                        
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                      </a>
                      <!--Delete icon-->
                      <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                    </div>
                    {% endif %}
                </div>
                <div class="card-body border-top">
                    <div class="row slider">
                        {% for photos in tricks.photos %}
                        <div class="col-xl-4">
                            <div><img src="{{ asset('img_uploads/' ~ photos.namePhoto) }}" alt="photos snowboard" class="shadow"></div>   
                        </div>
                        {% endfor %} 
                        {% for videos in tricks.videos %}
                        <div class="col-xl-4 videos-tricks">
                            {{ videos.link | raw }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-body">
                  <p class="card-text">{{ tricks.description | raw }}</p>
                  <table class="table table-hover mt-5">
                    <thead>
                      <tr class="text-center">
                        <th scope="col">Ajouté par :</th>
                        <th scope="col">Style :</th>
                        <th scope="col">Ajouté le :</th>
                        <th scope="col">Modifié le :</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text-center">
                        <th scope="row"><span class="border text-light bg-primary p-2 shadow">{{ tricks.user.fullname }}</span></th>
                        <td><span class="border text-light bg-primary p-2 shadow">{{ tricks.category.name }}</span></td>
                        <td><span class="border text-light bg-primary p-2 shadow">{{ tricks.dateAtCreated | date("m/d/Y") }}</span></td>
                        <td><span class="border text-light bg-primary p-2 shadow">{{ tricks.dateAtUpdate | date("m/d/Y")  }}</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="card-body border">
                  <h3 id="message">//Ajouter un commentaire//</h3>
                </div>

                <div class="card-footer comment">
                  <div class="row">
                    <div class="col-8 offset-2" id="commentList">
                      {% for message in messages %}
                        <div class="row">
                          <div class="offset-3 col-9">
                            <span class="date-comment text-muted">Le {{ message.dateMessage | format_datetime('full', 'medium', locale='fr') }}</span>
                          </div>
                        </div>
                        <div class="row mb-4 d-flex align-items-center p-3 shadow">
                          <div class="col-1">
                            <div class="text-right"><img src="{{ message.user.profilPicture }}" alt="photo de profil" class="profilPicture align-middle"></div>
                          </div>
                          <div class="col-2 text-center">
                            <span class="mt-2 d-inline">{{ message.user.username }}</span>
                          </div>
                          <div class="col-9 p-3 bg-light">
                            <span class="">{{ message.content }}</span>
                          </div>
                        </div>
                        <hr>
                        
                      {% endfor %}
                    </div>
                  </div> 
                  {% set pages = (numberMessages // 10)+1 %}
                  <div class="d-flex justify-content-around">
                    <ul class="pagination pagination">

                      {% for i in 1..pages %}
                      <li class="page-item num-page">
                        <a class="page-link" id="{{ 'page' ~ i }}" href="#message">{{ i }}</a>
                      </li>
                      {% endfor %}

                    </ul>
                  </div>  
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="{{ asset('js/slider.js')}}"></script>
  <script type="text/javascript" src="{{ asset('js/show.js')}}"></script>
{% endblock %}

